<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title><meta charset="UTF-8">
    <title>共享货车--司机登陆</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" type="text/css" href="css/index.css" />
    <script type="text/javascript" src="js/jquery-3.2.1.js"></script>
    <link type="text/css" href="js/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link type="text/css" href="js/layui/css/layui.css" rel="stylesheet" />
    <script type="text/javascript" src="js/bootstrap/dist/js/bootstrap.js"></script>
    <script type="text/javascript" src="js/vue.js"></script>
    <script type="text/javascript" src="js/request.js"></script>
    <script type="text/javascript" src="js/component.js"></script>
    <script type="text/javascript" src="js/common.js"></script>
    <script type="text/javascript" src="js/layui/layui.js"></script>
    <script type="text/javascript">
        $(function () {
            var app = new Vue({
                el:"#register-form",
                data:{
                    name:"",
                    sex:"",
                    age:"",
                    tel:"",
                    img1_path:"",
                    img2_path:"",
                    img3_path:"",
                    img4_path:"",
                    img5_path:"",
                    password:"",
                    passwordAgain:""
                },
                methods:{
                    register:function () {
                        if(this.name==""||this.sex==""||this.age==""||this.tel==""||this.img1_path==""||this.img2_path==""||
                            this.img3_path==""||this.img4_path==""||this.img5_path==""||this.password==""||this.passwordAgain==""){
                            layui.use('layer', function(){
                                var layer = layui.layer;
                                layer.msg("不能为空");
                            });
                            return;
                        }
                        Ajax.driverRegister(this.name,this.sex,this.age,this.tel,this.img1_path,this.img2_path,
                            this.img3_path,this.img4_path,this.img5_path,this.password,this.passwordAgain)

                    }
                }
            });
            layui.use('upload', function(){
                var upload = layui.upload;
                //执行实例
                var uploadInst = upload.render({
                    elem: '#idCard' //绑定元素
                    ,url: '/upload/img' //上传接口
                    ,done: function(res){//上传完毕回调
                        if(res.status=="success"){
                            imgPath = res.data;
                        }else{
                            layui.use('layer', function(){
                                var layer = layui.layer;
                                layer.msg(res.data.errMsg);
                            });
                        }
                    }
                    ,error: function(){
                        //请求异常回调
                        layui.use('layer', function(){
                            var layer = layui.layer;
                            layer.msg("系统或网络出错");
                        });
                    }
                });
            });
            layui.use('upload', function(){
                var upload = layui.upload;
                //执行实例
                var uploadInst = upload.render({
                    elem: '#driverEqual' //绑定元素
                    ,url: '/upload/img' //上传接口
                    ,done: function(res){//上传完毕回调
                        if(res.status=="success"){
                            imgPath = res.data;
                        }else{
                            layui.use('layer', function(){
                                var layer = layui.layer;
                                layer.msg(res.data.errMsg);
                            });
                        }
                    }
                    ,error: function(){
                        //请求异常回调
                        layui.use('layer', function(){
                            var layer = layui.layer;
                            layer.msg("系统或网络出错");
                        });
                    }
                });
            });
            layui.use('upload', function(){
                var upload = layui.upload;
                //执行实例
                var uploadInst = upload.render({
                    elem: '#carEqual' //绑定元素
                    ,url: '/upload/img' //上传接口
                    ,done: function(res){//上传完毕回调
                        if(res.status=="success"){
                            imgPath = res.data;
                        }else{
                            layui.use('layer', function(){
                                var layer = layui.layer;
                                layer.msg(res.data.errMsg);
                            });
                        }
                    }
                    ,error: function(){
                        //请求异常回调
                        layui.use('layer', function(){
                            var layer = layui.layer;
                            layer.msg("系统或网络出错");
                        });
                    }
                });
            });
            layui.use('upload', function(){
                var upload = layui.upload;
                //执行实例
                var uploadInst = upload.render({
                    elem: '#carInsurance' //绑定元素
                    ,url: '/upload/img' //上传接口
                    ,done: function(res){//上传完毕回调
                        if(res.status=="success"){
                            imgPath = res.data;
                        }else{
                            layui.use('layer', function(){
                                var layer = layui.layer;
                                layer.msg(res.data.errMsg);
                            });
                        }
                    }
                    ,error: function(){
                        //请求异常回调
                        layui.use('layer', function(){
                            var layer = layui.layer;
                            layer.msg("系统或网络出错");
                        });
                    }
                });
            });
            layui.use('upload', function(){
                var upload = layui.upload;
                //执行实例
                var uploadInst = upload.render({
                    elem: '#carLicense' //绑定元素
                    ,url: '/upload/img' //上传接口
                    ,done: function(res){//上传完毕回调
                        if(res.status=="success"){
                            imgPath = res.data;
                        }else{
                            layui.use('layer', function(){
                                var layer = layui.layer;
                                layer.msg(res.data.errMsg);
                            });
                        }
                    }
                    ,error: function(){
                        //请求异常回调
                        layui.use('layer', function(){
                            var layer = layui.layer;
                            layer.msg("系统或网络出错");
                        });
                    }
                });
            });
        })
    </script>
</head>
<body>
<div class="body">
    <div class="background-img">
        <img src="images/页面3图片/背景图.jpg" width="100%" height="740px">
    </div>
    <div class="form_driver">
        <div id="register-form">
            <ul>
                <li>
                    <div class="logo2">
                        <img src="images/页面2图片/logo2.png" alt="注册" width="250px" height="70px">
                    </div>
                </li>
                <li>
                    <div class="input-group">
                        <span class="input-group-addon" id="basic-addon1">姓名</span>
                        <input type="text" class="form-control" placeholder="姓名" aria-describedby="basic-addon1" v-model="name">
                    </div>
                </li>
                <li>
                    <div class="input-group">
                        <span class="input-group-addon" id="basic-addon2">性别</span>
                        <input type="text" class="form-control" placeholder="性别" aria-describedby="basic-addon1" v-model="sex">
                    </div>
                </li>
                <li>
                    <div class="input-group">
                        <span class="input-group-addon" id="basic-addon3">年龄</span>
                        <input type="email" class="form-control" placeholder="年龄" aria-describedby="basic-addon1" v-model="age">
                    </div>
                </li>
                <li>
                    <div class="input-group">
                        <span class="input-group-addon" id="basic-addon4">电话</span>
                        <input type="text" class="form-control" placeholder="电话" aria-describedby="basic-addon1" v-model="tel">
                    </div>
                </li>
                <li>
                    <button type="button" class="layui-btn" id="idCard" style="width:360px" >
                        <i class="layui-icon">&#xe67c;</i>身份证照片上传
                    </button>
                </li>
                <li>
                    <button type="button" class="layui-btn upload-img" id="driverEqual">
                        <i class="layui-icon">&#xe67c;</i>火车驾驶员从业资格证上传
                    </button>
                </li>
                <li>
                    <button type="button" class="layui-btn upload-img"  id="carEqual">
                        <i class="layui-icon">&#xe67c;</i>营运车辆营运许可证上传
                    </button>
                </li>
                <li>
                    <button type="button" class="layui-btn upload-img" id="carInsurance">
                        <i class="layui-icon">&#xe67c;</i>车辆强制保险照片上传
                    </button>
                </li>
                <li>
                    <button type="button" class="layui-btn upload-img" id="carLicense" style="margin-bottom:10px" >
                        <i class="layui-icon">&#xe67c;</i>车辆行驶证照片上传
                    </button>
                </li>
                <li>
                    <div class="input-group">
                        <span class="input-group-addon" id="basic-addon5">密码</span>
                        <input type="text" class="form-control" placeholder="密码" aria-describedby="basic-addon1" v-model="password">
                    </div>
                </li>
                <li>
                    <div class="input-group">
                        <span class="input-group-addon" id="basic-addon6">确认密码</span>
                        <input type="text" class="form-control" placeholder="确认密码" aria-describedby="basic-addon1" v-model="passwordAgain">
                    </div>
                </li>
                
                <li>
                    <div class="btn-group register-button" role="group" aria-label="...">
                        <button class="btn btn-default" type="button" value="注册" v-on:click="register">注册</button>
                    </div>
                </li>
                <li>
                    <div style="font-size:18px;padding-top:10px;color:#000000"><a href="#" style="color:black" v-on:click="toLoginForm">已有账号？马上登录</a></div>
                </li>
            </ul>
        </div>
    </div>
</div>
<script type="text/javascript">

</script>
</body>
</html>