<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title><meta charset="UTF-8">
    <title>共享货车--用户登陆</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" type="text/css" href="css/index.css" />
    <script type="text/javascript" src="js/jquery-3.2.1.js"></script>
    <link type="text/css" href="js/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link type="text/css" href="js/layui/css/layui.css" rel="stylesheet" />
    <script type="text/javascript" src="js/bootstrap/dist/js/bootstrap.js"></script>
    <script type="text/javascript" src="js/vue.js"></script>
    <script type="text/javascript" src="js/request.js"></script>
    <script type="text/javascript" src="js/component.js"></script>
    <script type="text/javascript" src="js/common.js"></script>
    <script type="text/javascript" src="js/layui/layui.js"></script>
    <script type="text/javascript">
        $(function () {

            var index=1;
            //轮播图
            var play = function () {
                index++;
                if(index>3){
                    index=1;
                }
                $(".turn-container img").fadeOut("default",function(){
                    $(".turn-container img").attr("src","images/页面1图片/轮播图/0"+index+".jpg");
                });
                $(".turn-container img").fadeIn();
            };
            var turn = setInterval(play,3000);

            var register = new Vue({
                el:".body",
                data:{
                    nickname:"",
                    email:"",
                    password:"",
                    passwordAgain:"",
                    login_email:"",
                    login_password:""
                },
                methods:{
                    register:function () {
                        // $('#myModal').modal();

                        if(this.nickname==""||this.email==""||this.password==""){
                            layui.use('layer', function(){
                                var layer = layui.layer;
                                layer.msg('不能为空');
                            });
                            return;
                        }
                        if(this.password!=this.passwordAgain){
                            layui.use('layer', function(){
                                var layer = layui.layer;
                                layer.msg('两次密码输入不同');
                            });
                            return;
                        }
                        //异步注册
                        Ajax.register(this.nickname,this.email,this.password);
                    },
                    login:function () {
                        if(this.login_email.length<=0 || this.login_password.length<=0){
                            layui.use('layer', function(){
                                var layer = layui.layer;
                                layer.msg('不能为空');
                            });
                            return;
                        }
                        Ajax.login(this.login_email,this.login_password);
                    },
                    toLoginForm:function () {
                        $(".form").fadeOut("default",function () {
                            $(".form2").fadeIn();
                        });
                    },
                    toRegisterForm:function () {
                        $(".form2").fadeOut("default",function () {
                            $(".form").fadeIn();
                        });
                    }
                }
            });
            // var login = new Vue({
            //     el:"#login-form",
            //     data:{
            //         email:"",
            //         password:""
            //     },
            //     methods:{
            //         login:function () {
            //             Ajax.login(this.email,this.password);
            //         }
            //     }
            // });
        });
    </script>
</head>
<body>
<div class="body">
    <div class="turn-container">
        <img src="images/页面1图片/轮播图/01.jpg" width="100%" height="100%">
    </div>
    <div class="form">
        <div id="register-form">
            <ul>
                <li>
                    <div class="logo2">
                        <img src="images/页面2图片/logo2.png" alt="注册" width="250px" height="70px">
                    </div>
                </li>
                <li>
                    <div class="input-group">
                        <span class="input-group-addon" id="basic-addon1">请输入昵称</span>
                        <input type="text" class="form-control" placeholder="nickname" aria-describedby="basic-addon1" v-model="nickname">
                    </div>
                </li>
                <li>
                    <div class="input-group">
                        <span class="input-group-addon" id="basic-addon2">请输入邮箱</span>
                        <input type="email" class="form-control" placeholder="email" aria-describedby="basic-addon1" v-model="email">
                    </div>
                </li>
                <li>
                    <div class="input-group">
                        <span class="input-group-addon" id="basic-addon3">请输入密码</span>
                        <input type="text" class="form-control" placeholder="password" aria-describedby="basic-addon1" v-model="password">
                    </div>
                </li>
                <li>
                    <div class="input-group">
                        <span class="input-group-addon" id="basic-addon4">请确认密码</span>
                        <input type="text" class="form-control" placeholder="passwordAgain" aria-describedby="basic-addon1" v-model="passwordAgain">
                    </div>
                </li>
                <li>
                    <div class="btn-group register-button" role="group" aria-label="...">
                        <button class="btn btn-default" type="button" value="注册" v-on:click="register">注册</button>
                    </div>
                </li>
                <li>
                    <div style="font-size:18px;padding-top:10px;color:#000000"><a href="#" style="color:black" v-on:click="toLoginForm">已有账号？马上登录</a></div>
                </li>
            </ul>
        </div>
    </div>
    <div class="form2" style="display:none">
        <div id="login-form">
            <ul>
                <li>
                    <div class="logo2">
                        <h3>登录</h3>
                    </div>
                </li>
                <li>
                    <div class="input-group">
                        <span class="input-group-addon" id="basic-addon6">请输入邮箱</span>
                        <input type="email" class="form-control" placeholder="email" aria-describedby="basic-addon1" v-model="login_email">
                    </div>
                </li>
                <li>
                    <div class="input-group">
                        <span class="input-group-addon" id="basic-addon7">请输入密码</span>
                        <input type="text" class="form-control" placeholder="password" aria-describedby="basic-addon1" v-model="login_password">
                    </div>
                </li>
                <li>
                    <div class="btn-group register-button" role="group" aria-label="...">
                        <button class="btn btn-default" type="button" value="登录" v-on:click="login">登录</button>
                    </div>
                </li>
                <li>
                    <div style="font-size:18px;padding-top:10px;color:#000000" v-on:click="toRegisterForm"><a href="#" style="color:black">没有账号？点击注册</a></div>
                </li>
            </ul>
        </div>
        <!--<div id="login-form">-->
        <!--<input type="text" v-model="email">-->
        <!--<input type="text" v-model="password">-->
        <!--<button type="button" value="登录" v-on:click="login" >登录</button>-->
        <!--</div>-->
    </div>
</div>
<div class="footer">
    <div class="footer-title">为什么选择此平台</div>
    <div class="info">
        <table>
            <tr>
                <td><img src="images/页面1图片/为什么选择此平台图片/图片1.png" alt=""></td>
                <td><img src="images/页面1图片/为什么选择此平台图片/图片2.png" alt=""></td>
                <td><img src="images/页面1图片/为什么选择此平台图片/图片3.png" alt=""></td>
                <td><img src="images/页面1图片/为什么选择此平台图片/图片4.png" alt=""></td>
            </tr>
            <tr>
                <td><br/><span>快速响应<br/>立刻下单，立马响应随叫随到</span></td>
                <td><br/><span>低价透明<br/>低价实惠，收费按里程、车型计费</span></td>
                <td><br/><span>运力充足<br/>全国司机均注册，基本覆盖多数车型</span></td>
                <td><br/><span>专业服务<br/>司机由平台严格考核和认证</span></td>
            </tr>
        </table>
    </div>
</div>
</body>
</html>